html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #030303;
}

.navbar {
  background-color: black;
}

.navbar div ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Mono", sans serif;
}

.Roboto {
  font-family: "Roboto Mono", sans serif;
  text-align: center;
}

}
.gray {
  color: #808080;
}

.bg-custom {
  background-color: black;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  -webkit-box-flex: 1;
      -ms-flex: 1 0 24rem;
          flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  -webkit-box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.gallery-image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/
@supports (display: grid) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(24rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }
  .gallery,
  .gallery-item {
    margin: 0;
  }
}

footer {
  margin-bottom: 3vh;
}

.footer .footer-container {
  margin-bottom: 2vh;
  margin-left: 7vw;
  font-family: "Roboto Mono", sans serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer-container .footer-item {
  padding: 16px;
}

.footer .footer-container .footer-item h2 {
  font-size: 12px;
  letter-spacing: 0.26em;
  font-weight: 300;
}

.footer .footer-container .footer-item a {
  text-decoration: none;
  color: #030303;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.12em;
  cursor: pointer;
}

.footer .footer-menu {
  max-width: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  font-family: "Roboto Mono", sans serif;
  line-height: 1.4em;
  letter-spacing: 0.26em;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* Global Project Page Styles*/
.project-page {
  font-family: "Roboto Mono", sans serif;
  text-align: center;
  background-color: black;
  color: #fff;
}

.project-page h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10vh;
}

.project-page h2 {
  font-size: 1.2rem;
  font-style: italic;
}

.project-page .top {
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-page .top .top-text {
  padding-bottom: 3vh;
}

.project-page .top ul {
  list-style: none;
}

.project-page .middle {
  margin: 5vh;
  padding: 4vh;
  font-size: 1rem;
  text-align: center;
}

.project-page .middle h3 {
  margin-bottom: 25px;
}

.project-page .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(700px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-gap: 15px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.project-page .grid img {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.project-page .nba-grid img {
  max-width: 49%;
  height: auto;
  border-radius: 10%;
}

.project-page iframe {
  margin-left: -13vw;
}


/* Kamikaze page styles*/
#comic-strip {
  max-width: 100%;
  height: auto;
  margin-bottom: 5vh;
}

.heading-text {
  font-family: "Roboto Mono", sans serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 3vh;
}

/* The Reup styles*/
.background-black {
  background-color: black;
  font-family: "Roboto Mono", sans serif;
  color: #ffffff;
}

.background-black h1 {
  text-align: center;
}

.background-black p {
  text-align: right;
  letter-spacing: 2px;
  max-width: 100vw;
  line-height: 4vh;
}

/*Plug Series styles*/
.plug-series-video {
  position: absolute;
  left: -150px;
  bottom: 0;
  min-width: 100%;
  max-height: 60%;
}

.full-video {
  text-align: center;
  font-family: "Roboto Mono", sans serif;
}

/*The Astrek Fade Styles */
.page {
  padding: 0 7px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.page .page-title {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 11.2vw;
  line-height: 1;
  text-align: center;
  border-bottom: 14px solid #000;
}

/*NBA Allstar Weekend styles*/
.page .page-title-allstar {
  border: 6px solid #fff;
}

.page .lifestyle-video, .page .lifestyle-image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 10vh;
}

.page .lifestyle-image {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

/*mobile v styles*/
.answer-v-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(700px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  grid-gap: 15px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.answer-v-grid img {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}

/*Streetzfest syles*/
.link-block {
  padding: 20px;
  text-align: center;
  display: block;
  border: 2px solid #000;
  text-transform: uppercase;
  color: black;
}

.link-block span {
  display: block;
  text-transform: none;
  font-style: italic;
  font-size: 3.4rem;
  line-height: 1.8;
  position: relative;
}

.link-block span:before,
.link-block span:after {
  width: 80px;
  height: 1px;
  content: "";
  display: block;
  background: #000;
  left: 50%;
  margin-left: -40px;
  position: absolute;
}

.link-block span:before {
  top: 8px;
}

.link-block span:after {
  bottom: 8px;
}

/*Lifestyle Styles*/
.lifestyle-bg {
  font-family: 'Roboto Mono', sans serif;
}

.home-image {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
/*# sourceMappingURL=projects.css.map */
