html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
  background-color: black;
}

/* Index Page Styles */
.home-grid {
 background-color: black;
}

.home-grid img {
  margin-top: 47vh;
  width: 100%;
  height: auto;
}

.home-grid a {
  position: absolute;
  top: 22vh;
  left: 30vw;
  font-size: 1rem;
  font-family: "Roboto Mono", sans serif;
  letter-spacing: 7px;
  padding: 8px 13px 8px 13px;
  border: solid 2px #a9a9a9;
  border-radius: 47%;
  text-decoration: none;
  color: #a9a9a9;
  -webkit-transition: linear font-size 1s, letter-spacing 1s;
  transition: linear font-size 1s, letter-spacing 1s;
}

.home-grid a:hover {
  background-color: #a9a9a9;
  color: #030303;
  font-size: 1.5;
  letter-spacing: 25px;
  cursor: pointer;
  text-decoration: none;
}

/*Global Styles*/
.navbar {
  background-color: black;
}

.navbar div a {
  font-family: "Roboto Mono", sans serif;
  text-decoration: none;
  color: #a9a9a9;
}

.navbar div a:hover {
  color: white;
  letter-spacing: 3px;
}

.navbar div ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Mono", sans serif;
}

.navbar div ul li a:hover {
  color: #a9a9a9;
  border: 2px solid #a9a9a9;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
  color: #a9a9a9;
  background-color: black;
}

.footer .footer-item {
  padding: 12px;
}

.footer .footer-item h2 {
  font-size: 1.3rem;
  letter-spacing: 0.2em;
  font-weight: 300;
}

.footer .footer-item a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.12em;
  cursor: pointer;
}

.footer .bottom-left {
  position: relative;
  right: 30vw;
}

.footer .bottom-left a {
  margin-left: 7vw;
  font-size: 1.2rem;
  color: #a9a9a9;
}

/*portfolio grid styles */
.portfolio-bg {
  background-color: #030303;
}

.portfolio-bg .portfolio-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-row-gap: 2px;
  grid-column-gap: 5px;
}

.portfolio-bg .portfolio-layout .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px;
      grid-template-columns: 200px 200px;
  grid-row: auto auto;
}

.portfolio-bg .portfolio-layout .container .cardholder {
  margin-left: -25vw;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.portfolio-bg .portfolio-layout .container .cardholder .card {
  width: 340px;
  height: 300px;
  background-color: transparent;
  -webkit-transform: rotateY(50deg);
          transform: rotateY(50deg);
  -webkit-box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
          box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: transparent;
}

.portfolio-bg .portfolio-layout .container .cardholder .card .azfade-card {
  height: 280px;
  padding: 6vh;
}

.portfolio-bg .portfolio-layout .container .cardholder .card .azfade-card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.portfolio-bg .portfolio-layout .container .cardholder .card:hover {
  width: 300px;
  height: 300px;
  background-color: transparent;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
  color: black;
  opacity: 0.3;
}

/*Styles for contact page*/
.contact-bg {
  background-color: #030303;
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: "Roboto Mono", sans serif;
  font-weight: 300;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px "Lato", sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  -webkit-transform: translate3d(0px, -29px, 0px);
          transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: #1b1b1b;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
          transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  #contact {
    height: 1000px;
  }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container,
  .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
  }
  .section-header {
    font-size: 50px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  .name,
  .email,
  textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

/*Flip Cards on Education & Experience pages*/
.flip-card {
  margin-left: 10%;
  background-color: transparent;
  width: 300px;
  height: 200px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container 
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
*/
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-front img {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.flip-card-front .text-image {
  background-color: darkgreen;
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 100%;
  padding: 5vh 10vw 5vh 10vw;
  font-size: 1.5rem;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: black;
  margin-top: 43vh;
  display: none;
  font-family: "Roboto Mono", sans serif;
}

.flip-card-back h1,
.flip-card-back h2 {
  background-color: white;
  font-size: 1.3rem;
}

.flip-card-back h2 {
  font-size: 1rem;
}

.flip-card-back ul {
  background-color: white;
  font-size: 0.75rem;
  z-index: 2;
  width: 100vw;
  margin-left: -12vw;
}

/*Education & Experience page Styles */
.ed-card {
  margin-top: 28vh;
}

.ed-card img {
  width: 100%;
  height: auto;
}

.ed-card-top {
  margin-top: 8vh;
  margin-bottom: -2vh;
}

.ed-card-top img {
  width: 100%;
  height: auto;
}

.top-center {
  background-color: black;
  color: #ffffff;
  font-family: "Roboto Mono", sans serif;
  text-align: center;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-container button {
  background-color: maroon;
}

.image-container button img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding: 35px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.image-container button img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#resume-link {
  text-align: center;
  color: #a9a9a9;
  font-size: 1.5rem;
  margin-left: 24vw;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#resume-link:hover {
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Lifestyle Page Styles*/
.page {
  font-family: "Roboto Mono", sans serif;
  text-decoration: none;
  color: #ccc;
}

.page .top-center {
  margin-top: 5vh;
}

.page .top-center p {
  padding: 28px;
}

.page .page-title {
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11.2vw;
  line-height: 1;
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  text-decoration: none;
}

.page .lifestyle div {
  margin-top: 15vh;
}

.page .lifestyle div p {
  text-align: center;
  letter-spacing: 7px;
  max-width: 100vw;
  margin-top: 3vh;
  padding: 15px;
  color: #ccc;
  font-family: "Roboto Mono", sans serif;
}

/*3AM Project & Plug Series page styles*/
.full-screen-video {
  width: 100%;
  height: auto;
  margin-bottom: 20vh;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */
