$gray: #808080;
$black: #030303;
$primary-font: "Roboto Mono", sans serif;

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
  background-color: $black;
}

/* Index Page Styles */
.home-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: $primary-font;
  background-color: $black;
  color: $gray;
  h1 {
    text-align: center;
    margin-bottom: 10vh;
  }
  .home-text {
    position: absolute;
    left: 35vw;
    bottom: 20vh;
    font-size: 2rem;
    text-decoration: none;
    color: $gray;
    border: solid 2px $gray;
    border-radius: 15%;
  }
}

/*Portfolio Styles*/
.navbar {
  background-color: black;
  div {
    ul {
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-family: $primary-font;
        }
      }
    }
  }
}

.container {
  background-color: black;
}
.show-desktop {
  margin: 5vw 5vh 2vw 5vh;
  font-family: $primary-font;
  font-size: 12px;
  .header-container {
    display: flex;
    flex-direction: row;
    .right-stick {
      margin-left: 12vw;
    }
  }
  a {
    text-decoration: none;
  }
  nav {
    margin-left: 30vw;
    a {
      padding-right: 3vw;
      color: $black;
    }
  }
}

.gray {
  color: $gray;
}

.footer {
  margin-top: 5vh;
  background-color: black;
  color: #fff;
  .footer-container {
    margin-left: 7vw;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .footer-item {
      padding: 16px;
      h2 {
        font-size: 16px;
        letter-spacing: 0.26em;
        font-weight: 300;
      }
      a {
        text-decoration: none;
        color: #fff;
        font-style: normal;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.4em;
        letter-spacing: 0.12em;
        cursor: pointer;
      }
    }
  }
  .footer-menu {
    max-width: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 25vh;
    font-family: $primary-font;
    line-height: 1.4em;
    letter-spacing: 0.26em;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
}

/*portfolio grid styles */

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

// styles for CV

.img-cv {
  margin-bottom: 35vh;
  max-width: 100%;
  padding: 20px;
}

.cardholder {
  margin-top: 150px;
  perspective: 600px;
}
.card {
  width: 300px;
  height: 280px;
  background-color: transparent;
  transform: rotateY(50deg);
  box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
  color: transparent;
  .azfade-card {
    height: 280px;
  }
}
.card:hover {
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: rotateY(0deg);
  box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
  color: black;
  opacity: 0.3;
}
.card:hover p {
  background-color: white;
}
p.desc {
  z-index: 999;
  position: absolute;
  top: 10px;
  padding: 10px;
}
p.desc:hover {
}

/*Styles for contact page*/
//contact form
#contact {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: $primary-font;
  font-weight: 300;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px "Lato", sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  #contact {
    height: 1000px;
  }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container,
  .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
  }
  .section-header {
    font-size: 50px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    max-width: 340px;
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
