html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
  background-color: #030303;
}

/* Index Page Styles */
.home-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Roboto Mono", sans serif;
  background-color: #030303;
  color: #808080;
}

.home-grid .home-text {
  position: absolute;
  left: 35vw;
  bottom: 20vh;
  font-size: 2rem;
  text-decoration: none;
  color: #808080;
  border: solid 2px #808080;
  border-radius: 15%;
}

/*Portfolio Styles*/
.navbar {
  background-color: black;
}

.navbar div ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Mono", sans serif;
}

.container {
  background-color: black;
}

.show-desktop {
  margin: 5vw 5vh 2vw 5vh;
  font-family: "Roboto Mono", sans serif;
  font-size: 12px;
}

.show-desktop .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.show-desktop .header-container .right-stick {
  margin-left: 12vw;
}

.show-desktop a {
  text-decoration: none;
}

.show-desktop nav {
  margin-left: 30vw;
}

.show-desktop nav a {
  padding-right: 3vw;
  color: #030303;
}

.gray {
  color: #808080;
}

.footer {
  margin-top: 5vh;
  background-color: black;
  color: #fff;
}

.footer .footer-container {
  margin-left: 7vw;
  font-family: "Roboto Mono", sans serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .footer-item {
  padding: 16px;
}

.footer .footer-container .footer-item h2 {
  font-size: 16px;
  letter-spacing: 0.26em;
  font-weight: 300;
}

.footer .footer-container .footer-item a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.12em;
  cursor: pointer;
}

.footer .footer-menu {
  max-width: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 25vh;
  font-family: "Roboto Mono", sans serif;
  line-height: 1.4em;
  letter-spacing: 0.26em;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*portfolio grid styles */
img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.img-cv {
  margin-bottom: 35vh;
  max-width: 100%;
  padding: 20px;
}

.cardholder {
  margin-top: 150px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.card {
  width: 300px;
  height: 280px;
  background-color: transparent;
  -webkit-transform: rotateY(50deg);
          transform: rotateY(50deg);
  -webkit-box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
          box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: transparent;
}

.card .azfade-card {
  height: 280px;
}
.card .nba-card {
  height: 280px;
}

.card:hover {
  width: 300px;
  height: 300px;
  background-color: transparent;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
  color: black;
  opacity: 0.3;
}

.card:hover p {
  background-color: white;
}

p.desc {
  z-index: 999;
  position: absolute;
  top: 10px;
  padding: 10px;
}

/*Styles for contact page*/
#contact {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: "Roboto Mono", sans serif;
  font-weight: 300;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px "Lato", sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  -webkit-transform: translate3d(0px, -29px, 0px);
          transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: #1b1b1b;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
          transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  #contact {
    height: 1000px;
  }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container,
  .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
  }
  .section-header {
    font-size: 50px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  .name,
  .email,
  textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

/*Education Styles */
.top-center {
  margin-top: 10vh;
  text-align: center;
  font-family: 'Roboto Mono', sans serif;
}

.smaller-image {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.typewrite {
  margin-top: 10vh;
  margin-bottom: 5vh;
  animation: type 5s steps(22);
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  font-size: 1.5rem;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 22ch;
  }
}


/*Flip Cards on Education & Experience pages*/
/*Flip Cards on Education & Experience pages*/
.flip-card {
  margin-left: 10%;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-front img {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.flip-card-front .text-image {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 100%;
  padding: 5vh 10vw 5vh 10vw;
  font-size: 1.5rem;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-back h1, .flip-card-back h2 {
  background-color: white;
  font-size: 2rem;
}

.flip-card-back h2 {
  font-size: 1.5rem;
}

.flip-card-back p {
  background-color: white;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */
